@model WeGotKicks.Models.Producto

<style>
        .img-responsive {
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
</style>

<style>
  body {
    background: white;
  }
</style>

<div style="background: linear-gradient(90deg, rgba(4,139,168,1) 0%, rgba(46,64,87,1) 100%);padding: 30px;height: 81vh;">

  <center class="titulo-texto" style="font-size: 1.5em; font-weight: bold; font-family: 'Arial Black', sans-serif;color: white;padding: 10px 10px 70px 10px;"><h1>Conoce tus Zapatillas</h1></center>


    <div class="container" style="text-align: center;">
      <div class="row">

        <div class="col col-md-7">
            <img class="img-responsive" width="90%" src="/Images/@Html.DisplayFor(model => model.ImageName)" alt="@Html.DisplayFor(model => model.ImageName)">
        </div>

        <div class="col col-md-4">
            <br><br>
            <h5 style="font-size: 50px;color: white;" class="card-title">@Html.DisplayFor(model => model.Name)</h5>
            <br>
            <p style="font-size: 40px;color: white;" class="card-text">@Html.DisplayFor(model => model.Descripcion)</p>
            <br>
            <h5 style="font-size: 40px;color: white;" class="card-title">@Html.DisplayFor(model => model.Precio)</h5>
            <br>
            <a class="btn" id="boton" asp-action="Add" asp-route-id="@Model.Id"><strong>Añadir al Carrito
           </a>
        </div>
      </div> 
    </div>



</div>

