@model WeGotKicks.Models.Producto

<style>
        .img-responsive {
        display: block;
        margin-left: auto;
        margin-right: auto;
        }
</style>

<style>
  body {
    background: radial-gradient(circle, #e7e3d3, #c9dcdc, #848daf, #2138a0, #044aad);
  }
</style>

<center class="titulo-texto" style="font-size: 1.5em; font-weight: bold; font-family: 'Arial Black', sans-serif;"><h1>Conoce tu Zapatilla</h1></center>


    <h1 class="titulo-texto" style="font-size: 1.5em; font-weight: bold; font-family: 'Arial Black', sans-serif;">Descripción</h1>
    <div class="container" style="text-align: center;">
            <div class="col-sm-4">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive" width="97" height="150"
                       src="/images/@Html.DisplayFor(model => model.ImageName)" alt="@Html.DisplayFor(model => model.ImageName)"  />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(model => model.Name)</h5>
                  <p class="card-text">@Html.DisplayFor(model => model.Descripcion)</p>
                  <h5 class="card-title">@Html.DisplayFor(model => model.Precio)</h5>
                  
                  <a class="btn" id="boton" asp-action="Add" asp-route-id="@Model.Id"><strong>Añadir al Carrito
                  uwu</a>
                </div>
              </div>
            </div>
    </div>