@model IEnumerable<WeGotKicks.Models.Producto>

<style>
    .img-responsive {
    display: block;
    margin-left: auto;
    margin-right: auto;
    }
    body {
    background: white;
    }
    
</style>



<div style="background-color: #2f2d2e;">

  <center class="titulo-texto" style="font-size: 1.5em; font-weight: bold; font-family: 'Arial Black', sans-serif;color: white;padding: 25px 0px;"><h1>CATÁLOGO</h1></center>
<h1>@ViewData["Title"]</h1>
  <div class="container">
    <h1>@ViewData["Message"]</h1>
    <div class="row">
      <div class="col">
        <div id="products" class="mb-3">
          <div class="row">
            @foreach (var item in Model) {
            <div class="col-sm-4">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="card-img-actions">
                    <img class="img-responsive img-fluid" width="200"
                       src="/Images/@item.ImageName" alt="@item.ImageName"  />
                  </div>
                </div>
                <div class="card-body">
                  <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                  <p class="card-text">@Html.DisplayFor(modelItem => item.Precio)</p>
                  <a class="btn btn btn-dark" asp-action="Add" asp-route-id="@item.Id">Agregar al Carrito</a>
                  <a class="btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Ver</a>
                </div>
              </div>
            </div>
            }
         </div>
        </div>
      </div>
    </div>
  </div>


</div>

