@model IEnumerable<WeGotKicks.Models.Pedido>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/pedido.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body>

    <div class="conteiner-fluid">
        <div class="row">
            <div class="col col-md-12">
                <h1 class="titulo" style="text-align: center;">Listado de Pedidos</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col col-md-1"></div>
            <div class="col col-md-10" style="text-align: center;">
                <a class="boton" asp-action="Create" style="border: 3px solid #585858; padding:5px;background-color: #4b4a4a;color: #ffffff;border-radius: 40px;"><i class="fa-solid fa-plus"></i> Generar Nuevo Pedido</a>
            </div>
            <div class="col col-md-1"></div>
        </div>
        <div class="row mt-4">
            <div class="col col-md-1"></div>
            <div class="col col-md-10">
                <table class="table table-striped table-hover" style="border-radius: 40px;padding: 0 1rem; border: 2px #3d3d3d solid;margin: 0 auto; width:75%;">
        <thead>
            <tr style="background: #8d939b;">
                <th>@Html.DisplayNameFor(model => model.UserID)</th>
                <th>@Html.DisplayNameFor(model => model.Total)</th>
                <th>@Html.DisplayNameFor(model => model.Status)</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.UserID)</td>
                    <td>@Html.DisplayFor(modelItem => item.Total)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                    <td>
                        <a class="boton-1" asp-action="Edit" asp-route-id="@item.ID"><i class="fa-solid fa-pen"></i></a>
                        <a class="boton-2" asp-action="Details" asp-route-id="@item.ID"><i
                            class="fa-solid fa-magnifying-glass"></i></a>
                        <a class="boton-3" asp-action="Delete" asp-route-id="@item.ID"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
            </div>
            <div class="col col-md-1"></div>
        </div>
    </div>


</body>

<script src="https://kit.fontawesome.com/42be4397d3.js" crossorigin="anonymous"></script>

</html>