@model WeGotKicks.Models.Producto
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/pedido.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body class="cuerpo">

    <div class="card" style="border-radius: 30px; padding: 0 1rem; border: 3px #E38B29 solid;">
        <div class="card-body">
            <p class="card-title p-titulo">Detalles del Producto</p>

            <h5 class="p-texto">@Html.DisplayNameFor(model => model.Name)</h5>
            <p class="card-text p-respuesta">@Html.DisplayFor(model => model.Name)</p>
            <hr class="linea">

            <h5 class="p-texto">@Html.DisplayNameFor(model => model.Descripcion)</h5>
            <p class="card-text p-respuesta">@Html.DisplayFor(model => model.Descripcion)</p>
            <hr class="linea">

            <h5 class="p-texto">@Html.DisplayNameFor(model => model.Precio)</h5>
            <p class="card-text p-respuesta">@Html.DisplayFor(model => model.Precio)</p>
            <hr class="linea">

            <h5 class="p-texto">@Html.DisplayNameFor(model => model.PorcentajeDescuento)</h5>
            <p class="card-text p-respuesta">@Html.DisplayFor(model => model.PorcentajeDescuento)</p>
            <hr class="linea">

            <h5 class="p-texto">@Html.DisplayNameFor(model => model.ImageName)</h5>
            <p class="card-text p-respuesta">@Html.DisplayFor(model => model.ImageName)</p>
            <hr class="linea">

            <h5 class="p-texto">@Html.DisplayNameFor(model => model.Status)</h5>
            <p class="card-text p-respuesta">@Html.DisplayFor(model => model.Status)</p>
            <hr class="linea">

            <div style="margin: 20px 0 5px;">
                <div class="row">
                    <div class="col-6">
                        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn"
                            style="background-color: #E38B29; border-radius: 30px; 
                                width: 100%; color: white; font-family: 'Rajdhani', sans-serif; font-size: 18px; font-weight: bold;">
                            Ir a Editar</a>
                    </div>
                    <div class="col-6">
                        <a asp-action="Index" class="btn"
                            style="background-color: #F3E0B5; border-radius: 30px; 
                                width: 100%; color: #444444; font-family: 'Rajdhani', sans-serif; font-size: 18px; font-weight: bold;">
                            Regresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="https://kit.fontawesome.com/42be4397d3.js" crossorigin="anonymous"></script>

</html>