@model dynamic;
@using System.Collections.Generic;

@{
    IEnumerable<WeGotKicks.Models.Proforma> listItemsCarrito = new List<Proforma>();
    listItemsCarrito = @Model.elementosCarrito;
    Decimal montoTotal = @Model.montoTotal;
}

<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="~/css/pedido.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani&family=Sacramento&display=swap" rel="stylesheet">
</head>

<body class="cuerpo">

    <div>
        <h1 class="titulo">Detalles del Carrito</h1>
    </div>

    <a class="boton" asp-controller="Pago" asp-action="Create" asp-route-monto="@montoTotal">Ir a Pagar</a>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => listItemsCarrito.FirstOrDefault().Producto.Name)</th>
                <th>@Html.DisplayNameFor(model => listItemsCarrito.FirstOrDefault().Cantidad)</th>
                <th>@Html.DisplayNameFor(model => listItemsCarrito.FirstOrDefault().Precio)</th>
                <th>Operaciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Proforma item in Model.elementosCarrito)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Producto.Name)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                    <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                    <td>
                        <a class="boton-1" asp-action="Edit" asp-route-id="@item.Id"><i class="fa-solid fa-pen"></i></a>
                        <a class="boton-3" asp-action="Delete" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        <p class="total">Monto Total: S/. @montoTotal</p>
    </div>

</body>

<script src="https://kit.fontawesome.com/42be4397d3.js" crossorigin="anonymous"></script>

</html>